@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.layout::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url('imgs/game.PNG');
    width: 100%;
    height: 100%;

    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    padding: 50px;
}

.nav-title {
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    font-weight: 600;
    font-size: 26px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-title {
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    font-weight: 400;
    font-size: 20px;
}

.main-sub {
    padding-top: 30px;
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 30px;
}

.text {
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    font-weight: 100;
    font-size: 15px;
}

.game-img {
    padding: 30px;
    border-radius: 100px;
}

.roda-pe {
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    padding-bottom: 30px;
}