@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Water+Brush&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: lightskyblue;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
}

.name {
    font-family: 'Water Brush', cursive;
    color: black;
    font-weight: 900;
    font-size: 60px;
    display: flex;
    align-items: center;
    text-align: center;
}

.cert {
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-weight: 400;
    font-size: 30px;
    border-bottom: 0.5px solid greenyellow;
}

.img-perfil {
    height: 200px;
    width: auto;
    border-radius: 100px;
}

.legenda {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
    padding: 32px;
}

.linguagem {
    display: flex;
    flex-direction: column;
}

.legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-weight: 100;
    font-size: 50px;
    flex-wrap: wrap;
}

.icones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-lgs {
    height: 100px;
    width: auto;
}

.fa {
    border-radius: 50%;
    padding: 10px;
}

.fa-linkedin {
    background: black;
    color: greenyellow;
}

.fa-github {
    background: black;
    color: greenyellow;
}

.img-cont {
    height: 50px;
    width: auto;
    padding: 5px;
}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.main {
    padding: 32px;
}

.faj-project {
    display: flex;
    flex-direction: column;
}

.sessao-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.titulo {
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-weight: 900;
    font-size: 40px;
    border-top: 0.5px solid greenyellow;
}

.titulo:hover {
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-weight: 900;
    font-size: 50px;
    border-top: 0.5px solid black;
}

.projetos {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 20rem;
    height: 30rem;
    position: relative;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.9;
}

.card-info {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-info h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 900;
    color: greenyellow;
}

.card-info h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 300;
    color: greenyellow;
}

.card-info p {
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    font-weight: 100;
    color: whitesmoke;
}

.card:hover .card-info p {
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: whitesmoke;
}

.card-info button {
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
    font-size: 20px;
    font-weight: 900;
    color: purple;
    background-color: lightblue;
    border: none;
    border-radius: 2px;
}

.card-info:hover button {
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
    font-size: 20px;
    font-weight: 900;
    color: lightblue;
    background-color: purple;
}

.rodape {
    background-color: rgba(171, 255, 46, 0.5);
    border-top: 0.5px solid black;
    padding: 40px;
}